<div>
		<h3>Template</h3>

		<div>
			<input types="text" ng-model="seller.name" placeholder="Name"/>
		</div>
		<div>
			<input types="text" ng-model="seller.category" placeholder="Category" />
		</div>
		<div>
			<input types="text" ng-model="seller.imagePath" placeholder="Image URL"/>
		</div>
		<div>
			{{errorMessage}}
		</div>

		<button class="btn btn-primary" ng-click="onOk()">
			<span translate="sellers.Ok"></span>
		</button>
		<button class="btn btn-primary" ng-click="onCancel()">
			<span translate="sellers.Cancel"></span>
		</button>

</div>