<div>
	<button ng-click="changeLanguage('IS')">Change to Icelandic</button>
	<button ng-click="changeLanguage('EN')">Change to English</button>
</div>
<div ng-show="isLoading">
	<loading-message></loading-message>
</div>
<div ng-hide="isLoading">
	<button class="btn btn-primary" ng-click="onAddSeller()" ng-show="DisplayAdd">
<i class="fa fa-plus"/>
<span translate="sellers.Add"/>
</button>
	<table>
		<thead>
			<tr table-sort="name">
				<th data-columnName="name">
				<i class="fa fa-plus"/>
					<span translate="sellers.Name" ng-mouseover="sellers.Name"/>
				</th>
				<th data-columnName="category">
					<span translate="sellers.Category"/>
				</th>
				<th >
					<span translate="sellers.Image"/>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="s in sellers | orderBy:predicate:reverse">
				
				<td><a ng-href="#/seller/{{s.id}}">{{s.name}}</a></td>
				<td>{{s.category}}</td>
				<td><img src="{{s.imagePath}}" alt="error" height="100" width="100"></td>
				<td><button data="{{s.id}}" class="btn btn-primary" ng-click="onEditSeller(s.id)" ng-show="DisplayAdd"><span translate="sellers.Edit"/></button></td>
			</tr>
		</tbody>
	</table>
</div>