<div> Hér ætti að birtast listi af seljendum - TODO: útfæra það!</div>
<h1>We made it now</h1>
<div ng-show="isLoading">
	<loading-message></loading-message>
</div>
<div ng-hide="isLoading">
<div>
	<input type="text" >
	<input type="text">
	<input type="text">
	<button class="btn btn-primary" ng-click="onAddSeller()" ng-show="DisplayAdd">
</div>
<i class="fa fa-plus"/>
<span translate="sellers.Add"/>
</button>
	<table>
		<thead>
			<tr>
				<th>
				<i class="fa fa-plus"/>
					<span translate="sellers.Name"/>
				</th>
				<th>
					<span translate="sellers.Category"/>
				</th>
				<th>
					<span translate="sellers.Image"/>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="s in sellers">
				<td>{{s.name}}</td>
				<td>{{s.category}}</td>
				<td><img src="{{s.imagePath}}" alt="error" height="100" width="100"></td>
			</tr>
		</tbody>
	</table>
</div>