h2 {
  text-align: center;
  color: white;
}

.Sellers {
  /* TODO: add any Sellers-specific styles here! */
}
.row-centered {
  text-align: center;
  margin-top: 2%;
}
.row-centeredSD {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}
th,
td {
  text-align: left;
  color: white;
  padding-top: 2%;
}
td {
  width: 15%;
}
.sellersTD {
  width: 30%;
}
th {
  width: 15%;
}
a {
  color: white;
}
.allprod {
  border-right-style: solid;
  border-width: thin;
  padding-right: 2%;
}
.margintop {
  padding-top: 2%;
}
.marginbot {
  padding-bottom: 2%;
}
.top10 {
  padding-left: 2%;
}
span {
  color: white;
}
.blackspan {
  color: black;
}
.topten {
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-style: thin;
}
button {
  font-color: white;
  background: none;
}
h2 {
  color: black;
}
.searchbar {
  background-image: url("https://cdn1.iconfinder.com/data/icons/pointed-edge-web-navigation/117/search-grey-512.png");
  background-size: 15px;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 3%;
  border: none;
}
body {
  background-color: lightgrey;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: futura;
}
