
.Sellers {
  /* TODO: add any Sellers-specific styles here! */
}
.row-centered {
  text-align: center;
  margin-top: 2%;
}
.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
}
th,
td {
  padding: 4%;
  text-align: left;
  color: white;
}
a {
  color: white;
  padding: 3%;
}
span {
  color: white;
}
button {
  font-color: white;
  background: none;
}
body {
  background-color: lightgrey;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
