<body>
<div ng-show="isLoading">
	<loading-message></loading-message>
</div>
<div ng-hide="isLoading">
<div class="col-md-12 row-centered">
        <button ng-click="changeLanguage('IS')" class="btn btn-primary">Icelandic</button>
        <button ng-click="changeLanguage('EN') " class="btn btn-primary">English</button>
</div>
<div class="col-md-12 row-centered">
    <button class="btn btn-primary" ng-click="onAddProduct()">
    <i class="fa fa-plus"/>
    <span translate="sellerDetails.Add"/>
    </button>
</div>
<div class="col-md-12 row-centered">
    <img src="{{seller.imagePath}}" alt="error" class="img-rounded" height="100" width="100">
    <span>{{seller.name}}</span>
</div>
    <section class="table-responsive col-md-12 row-centeredSD">
    <div class="topten col-md-12 row-centered">
            <ul ng-init="tab = 1">
                <a href ng-click="tab = 1"><span translate="sellerDetails.AllProducts"></span></a>
                <a href ng-click="tab = 2" class="top10"><span translate="sellerDetails.TopTen"></span></a>
    </div>

            <br></br>
            <div class="col-md-12 row-centered">
                <input type="text" ng-model="searchBox">
            </div>
            <div class="tabStyle" ng-show="tab === 1" class="table-responsive">
                <table class="sellerTable col-centered">
                    <thead>
                        <tr table-sort="name">
                            <th></th>
                            <th data-columnName="name"><span translate="sellerDetails.Name"></span></th>
                            <th data-columnName="price"><span translate="sellerDetails.Price"></span></th>
                            <th data-columnName="quantitySold"><span translate="sellerDetails.QuantitySold"></span></th>
                            <th data-columnName="quantityInStock"><span translate="sellerDetails.QuantityInStock"></span></th>
                        </tr>
                    </thead>
                <tbody></tbody>
                <tr ng-repeat="p in sellerProduct | orderBy:predicate:reverse | filter: searchBox">
                    <td><img src="{{p.imagePath}}" alt="error" class="img-rounded" height="100" width="100"></td>
                    <td >{{p.name}}</td>
                    <td >{{p.price}}</td>
                    <td >{{p.quantitySold}}</td>
                    <td >{{p.quantityInStock}}</td>
                    <td><button class="btn btn-primary" ng-click="onUpdateProduct(p)"><span translate="sellerDetails.Edit"/></button></td>
                </tr> 
                </tbody>
                </table>
            </div>
                <div class="tabStyle" ng-show="tab === 2" class="table-responsive">
                    <table class="sellerTable col-centered">
                    <thead>
                            
                            <tr table-sort="name">
                            <th><span></span></th>
                            <th data-columnName="name"><span translate="sellerDetails.Name"></span></th>
                            <th data-columnName="price"><span translate="sellerDetails.Price"></span></th>
                            <th data-columnName="quantitySold"><span translate="sellerDetails.QuantitySold"></span></th>
                            <th data-columnName="quantityInStock"><span translate="sellerDetails.QuantityInStock"></span></th>
                            
                        </tr>
                    </thead>
                <tbody></tbody>
                <tr ng-repeat="p in sellerTop10Product | orderBy:predicate:reverse | filter: searchBox">
                    <td><img src="{{p.imagePath}}" alt="error" height="100" class="img-rounded" width="100"></td>
                    <td >{{p.name}}</td>
                    <td >{{p.price}}</td>
                    <td >{{p.quantitySold}}</td>
                    <td >{{p.quantityInStock}}</td>
                    <td><button class="btn btn-primary" ng-click="onUpdateProduct(p)"><span translate="sellerDetails.Edit"/></button></td>
                </tr> 
                </tbody>
                </table>

                </div>
            </div>
        </ul>
    </section>
</body>

  
