<h1>HALLO</h1>
<h3>okzzzz</h3>
<div>
	<img src="{{seller.imagePath}}" alt="error" height="100" width="100">
</div>
<div>
	{{seller.name}}
</div>
<div>
	{{seller.category}}
</div>

</head>
<body>
    <section>
        <ul ng-init="tab = 1">
            <li>
                <a href ng-click="tab = 1">All products</a>
            </li>
            <li>
                <a href ng-click="tab = 2">Top10</a>
            </li>
            <br></br>
            <div class="tabStyle" ng-show="tab === 1">
                <table>
                    <thead>
                        <tr table-sort="name">
                            <th data-columnName="name"><span>name</span></th>
                            <th data-columnName="price"><span>price</span></th>
                            <th data-columnName="quantitySold"><span>quantity sold</span></th>
                            <th data-columnName="quantityInStock"><span>quantity in stock</span></th>
                            <th><span>image</span></th>
                        </tr>
                    </thead>
                <tbody></tbody>
                <tr ng-repeat="p in sellerProduct | orderBy:predicate:reverse">
                    <td >{{p.name}}</td>
                    <td >{{p.price}}</td>
                    <td >{{p.quantitySold}}</td>
                    <td >{{p.quantityInStock}}</td>
                    <td><img src="{{p.imagePath}}" alt="error" height="100" width="100"></td>
                </tr> 
                </tbody>
                </table>
            </div>
                <div class="tabStyle" ng-show="tab === 2">
                    <table>
                    <thead>
                        <tr table-sort="name">
                            <th data-columnName="name"><span>name</span></th>
                            <th data-columnName="price"><span>price</span></th>
                            <th data-columnName="quantitySold"><span>quantity sold</span></th>
                            <th data-columnName="quantityInStock"><span>quantity in stock</span></th>
                            <th><span>image</span></th>
                        </tr>
                    </thead>
                <tbody></tbody>
                <tr ng-repeat="p in sellerTop10Product | orderBy:predicate:reverse">
                    <td >{{p.name}}</td>
                    <td >{{p.price}}</td>
                    <td >{{p.quantitySold}}</td>
                    <td >{{p.quantityInStock}}</td>
                    <td><img src="{{p.imagePath}}" alt="error" height="100" width="100"></td>
                </tr> 
                </tbody>
                </table>

                </div>
            </div>
        </ul>
    </section>
</body>

  
