<body>
<h2><span translate="sellers.Add" class ="blackspan"/></h2>
<div>
<h2><span translate="sellers.Add" class ="blackspan"/></h2>
<div class="col-md-12 row-centered">
		<div>
			<input types="text" ng-model="product.name" placeholder="{{ 'sellerDialog.Name' | translate }}"/>
		</div>
		<div>
			<input types="text" ng-model="product.price" placeholder ="{{'sellerDetails.Price' | translate}}"/>
		</div>
        <div>
			<input types="text" ng-model="product.quantitySold" placeholder ="{{'sellerDetails.QuantitySold' | translate}}" />
		</div>
        <div>
			<input types="text" ng-model="product.quantityInStock" placeholder ="{{'sellerDetails.QuantityInStock' | translate}}" />
		</div>        
		<div>
			<input types="text" ng-model="product.imagePath" placeholder="{{ 'sellerDialog.Image' | translate }}"/>
		</div>
		<div>
			{{errorMessage}}
		</div>
		<div class="margintop">
		<button class="btn btn-primary" ng-click="onOk()">
			<span translate="sellerDetails.Ok"></span>
		</button>
		<button class="btn btn-primary" ng-click="onCancel()">
			<span translate="sellerDetails.Cancel"></span>
		</button>
		</div>

</div>
</body>